#main-table{
    background: $background-header;
    .title{
        @include setPaddingTB(63px, 47px);
        text-align: center;
        line-height: 1;
        p{
            @include setFont(26px, $color-bl);
        }
        .cover-img {
            line-height: 0;
            margin-top: 20px;
        }

    }

    .cover-bottom{
        text-align: center;
        p{

            @include setFont(16px, $color-grey);
        }
    }
}