//  ---- ARTICLE ----
ul#article-content > li{
    font-size: 14px;
}
#header-article > img:first-child{
    @include setPaddingTB(30px, 7px);
}
ul#article-content{
    @include setPaddingTB(21px, 25px);
}
#article-home{
    li:first-child{
        @include setPaddingLR(15px,10px);
    }
    li:last-child{
        padding-right: 15px;
    }
    .img-block {
        @include setPaddingLR(10px,10px);
    }
}
.article-home{
    .construction-content{
        height: 224px;
    }
    
    img{
        max-width: 50%;
    }
}
#home, #home-window, #building{
    background-size: contain !important;
    width: 110px;
    height: 110px;;
}
#home{
    background: url(../images/home-sp.png) no-repeat;
}
#home-window{
    background: url(../images/home-window-sp.png) no-repeat;
}
#building{
    background: url(../images/building-sp.png) no-repeat;
}
.button-article{
    padding: 5px 12px 4px 5px;
}