@media screen and (max-width: 768px){
    // img{
    //     max-width: 50% !important;
    // }

    #header ul.header-menu {
        flex-direction: column;
        display: none;       
        position: absolute;
        background-color: $background-header;
    }
    .container{
        width: 100% !important ;
    }
    //  ---- HEADER ----
    .active {
        display: block !important;
    }
    .header img{
        max-width: 100%;
        width: 50%;
    }
    //  ---- SECTION: BANNER ----
    #image-banner 
        {
            background: url("../images/banner-section-sp.png") no-repeat center bottom;
            background-size: cover;
            padding: 56px 25px 78px 25px;
            height: 210px;;
            .text-banner {
            font-size: 19px;
            padding: 15px 31px;
            text-align: center;
        }
    }
    //  ---- MAIN ----
    #content{
        flex-direction: column;
        margin: 25px 17.5px 30.5px 16.5px;
        position: relative;
        .content-left{
            border-right: 0;
            margin: 20px 17px 0 17px;
            border-bottom: 2px dotted $footer-grey;
        }
        .content-right{
            padding: 0 15px 81px 19px;
            li{
                border-bottom: 2px dotted $footer-grey;
                padding-bottom: 11px;
                font-size: 14px;
            }
            span{
                display: block;
                font-size: 14px;
            }
        }
        .button-content{
            position: absolute;
            bottom: 23px;
            left: calc(50% - 55px);
            padding: 9px 30px 9px 9px;
            font-size: 13px;
            .fa-play{
                margin-right: 15px;
            }
        }
    }
    //  ---- ARTICLE ----
    ul#article-content > li{
        font-size: 14px;
    }
    #header-article > img:first-child{
        @include setPaddingTB(30px, 7px);
    }
    ul#article-content{
        @include setPaddingTB(21px, 25px);
    }
    #article-home{
        li:first-child{
            @include setPaddingLR(15px,10px);
        }
        li:last-child{
            padding-right: 15px;
        }
        .img-block {
            @include setPaddingLR(10px,10px);
        }
    }
    .article-home{
        .construction-content{
            height: 224px;
        }
        
        img{
            max-width: 50%;
        }
    }
    #home, #home-window, #building{
        background-size: contain !important;
    }
    #home{
        background: url(../images/home-sp.png) no-repeat;
    }
    #home-window{
        background: url(../images/home-window-sp.png) no-repeat;
    }
    #building{
        background: url(../images/building-sp.png) no-repeat;
    }
    .button-article{
        padding: 5px 12px 4px 5px;
    }
    //  ---- ASIDE ----
    aside{
        padding: 0 23px;
    }
    .d-flex{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        #aside{
            width: 100%;
            background-position: center;
            justify-content: flex-start;
        }
        .aside-right img{
            margin: 0 auto;
        }
        #aside-right{
            padding-left: 0 ;
            width: 100%;
            .aside-img{
                @include setPaddingTB(31px, 22.5px);
            }
            >span{
                font-size: 14px;
            }
            > a > img {
                @include setPaddingTB(25px, 0);
            }
        }
    }
    //  ---- FOOTER ----
    #section-footer{
        background: url("../images/banner-footer-sp.png") no-repeat right;
        background-size: cover;
    }
    #footer > img {
        display: none !important ;
    }

    #footer{
        .text-footer{
            font-size: 16px;
            padding: 9px 24px;
            margin-top: 35px;
        }
        .text-white {
            font-size: 14px;
            margin-top: 20px;
        }
        >strong{
            font-size: 14px;
            margin-bottom: 12px;
        }
        img {
            max-width: 50% ;
        }
        .header-right{
            flex-direction: column;
            .group-phone{
                text-align: center;
                .text-phone{
                    font-size: 10px;
                }
            }

            .button-yellow-footer{
                margin-top: 20px;
                text-align: center;
                .text-button{
                    font-size: 13px;
                }
            }
        }
    }
} 