@charset "UTF-8";
.article-home li img {
  display: block;
  margin: 0 auto;
}

.d-flex .aside-right img {
  display: block;
}

.footer-menu, .footer, main .image-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .text-footer, .image-banner .text-banner {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.building, .home-window, .home {
  position: relative;
  height: 226px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #header ul.header-menu {
    flex-direction: column;
    display: none;
    position: absolute;
    background-color: #ffffff;
  }

  .container {
    width: 100% !important;
  }

  .active {
    display: block !important;
  }

  .header img {
    max-width: 100%;
    width: 50%;
  }

  #image-banner {
    background: url("../images/banner-section-sp.png") no-repeat center bottom;
    background-size: cover;
    padding: 56px 25px 78px 25px;
    height: 210px;
  }
  #image-banner .text-banner {
    font-size: 19px;
    padding: 15px 31px;
    text-align: center;
  }

  #content {
    flex-direction: column;
    margin: 25px 17.5px 30.5px 16.5px;
    position: relative;
  }
  #content .content-left {
    border-right: 0;
    margin: 20px 17px 0 17px;
    border-bottom: 2px dotted #cccccc;
  }
  #content .content-right {
    padding: 0 15px 81px 19px;
  }
  #content .content-right li {
    border-bottom: 2px dotted #cccccc;
    padding-bottom: 11px;
    font-size: 14px;
  }
  #content .content-right span {
    display: block;
    font-size: 14px;
  }
  #content .button-content {
    position: absolute;
    bottom: 23px;
    left: calc(50% - 55px);
    padding: 9px 30px 9px 9px;
    font-size: 13px;
  }
  #content .button-content .fa-play {
    margin-right: 15px;
  }

  ul#article-content > li {
    font-size: 14px;
  }

  #header-article > img:first-child {
    padding-top: 30px;
    padding-bottom: 7px;
  }

  ul#article-content {
    padding-top: 21px;
    padding-bottom: 25px;
  }

  #article-home li:first-child {
    padding-left: 15px;
    padding-right: 10px;
  }
  #article-home li:last-child {
    padding-right: 15px;
  }
  #article-home .img-block {
    padding-left: 10px;
    padding-right: 10px;
  }

  .article-home .construction-content {
    height: 224px;
  }
  .article-home img {
    max-width: 50%;
  }

  #home, #home-window, #building {
    background-size: contain !important;
  }

  #home {
    background: url(../images/home-sp.png) no-repeat;
  }

  #home-window {
    background: url(../images/home-window-sp.png) no-repeat;
  }

  #building {
    background: url(../images/building-sp.png) no-repeat;
  }

  .button-article {
    padding: 5px 12px 4px 5px;
  }

  aside {
    padding: 0 23px;
  }

  .d-flex {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .d-flex #aside {
    width: 100%;
    background-position: center;
    justify-content: flex-start;
  }
  .d-flex .aside-right img {
    margin: 0 auto;
  }
  .d-flex #aside-right {
    padding-left: 0;
    width: 100%;
  }
  .d-flex #aside-right .aside-img {
    padding-top: 31px;
    padding-bottom: 22.5px;
  }
  .d-flex #aside-right > span {
    font-size: 14px;
  }
  .d-flex #aside-right > a > img {
    padding-top: 25px;
    padding-bottom: 0;
  }

  #section-footer {
    background: url("../images/banner-footer-sp.png") no-repeat right;
    background-size: cover;
  }

  #footer > img {
    display: none !important;
  }

  #footer .text-footer {
    font-size: 16px;
    padding: 9px 24px;
    margin-top: 35px;
  }
  #footer .text-white {
    font-size: 14px;
    margin-top: 20px;
  }
  #footer > strong {
    font-size: 14px;
    margin-bottom: 12px;
  }
  #footer img {
    max-width: 50%;
  }
  #footer .header-right {
    flex-direction: column;
  }
  #footer .header-right .group-phone {
    text-align: center;
  }
  #footer .header-right .group-phone .text-phone {
    font-size: 10px;
  }
  #footer .header-right .button-yellow-footer {
    margin-top: 20px;
    text-align: center;
  }
  #footer .header-right .button-yellow-footer .text-button {
    font-size: 13px;
  }
}
div.header {
  display: flex;
  justify-content: space-between;
  align-self: center;
}
div.header div.header-right {
  padding: 18px 0;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  div.header div.header-right {
    display: none;
  }
}

div.group-phone {
  padding-right: 22px;
}
div.group-phone span.text-phone {
  font-size: 12px;
  color: #000000;
}

a.button-yellow-header {
  padding: 15px 20px 15px 18px;
  background-color: #ffed4d;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  color: #fd7e00;
}

a.button-yellow-footer {
  padding: 17px 21px;
  background-color: #ffed4d;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  color: #fd7e00;
}

.toggle {
  padding-right: 15px;
  display: none;
  cursor: pointer;
  text-align: right;
}
@media (max-width: 768px) {
  .toggle {
    display: block;
  }
}

ul.header-menu {
  display: flex;
  padding: 24px 0;
}
ul.header-menu li {
  text-align: center;
  padding: 0 40px;
  border-right: 1px solid #dddddd;
}
ul.header-menu li:first-child {
  border-left: 1px solid #dddddd;
}
ul.header-menu li:last-child {
  padding: 0 13px;
}

.background-blue {
  height: 4px;
  background-color: #0f5c9b;
}

header {
  padding-top: 18px;
}

#header {
  padding-top: 10px;
}

.image-banner {
  background: url("../images/banner-section.png") no-repeat center;
  height: 420px;
}
.image-banner .text-banner {
  font-size: 30px;
  padding: 17px 5px;
}

#main-banner .image-banner {
  background: url("../images/main-banner.png") no-repeat center;
  height: 160px;
}
#main-banner .image-banner .text-banner {
  font-size: 28px;
  border: 0;
}

.content {
  display: flex;
  border: 1px solid #dddddd;
  margin: 80px auto;
}
.content > ul:last-child {
  padding-left: 0;
}
.content > ul:first-child {
  margin-left: 0;
}
.content .content-left {
  display: flex;
  flex-grow: 1;
  margin: 36px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #dddddd;
  text-align: center;
}
.content .img-responsive {
  display: block;
}
.content .marign-15 {
  margin: 15px;
}
.content .button-content {
  background-color: #0f5c9b;
  padding: 5px 20px 5px 10px;
  border-right: 1px solid #dddddd;
  font-size: 16px;
  color: #ffffff;
}
.content .button-content .fa-play {
  font-size: 10px;
}
.content .content-right {
  flex-grow: 4;
  padding: 30px;
}
.content .content-right li {
  font-size: 16px;
  color: #0e5b9a;
  line-height: 32px;
}
.content .content-right span {
  font-size: 16px;
  color: #000000;
  text-underline-position: under;
  text-decoration: underline;
}

.header-article > img {
  display: block;
  margin: 0 auto;
}
.header-article > img:first-child {
  padding-top: 60px;
  padding-bottom: 18px;
}

ul.article-content {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 65px;
}
ul.article-content > li {
  line-height: 22.4px;
  font-size: 16px;
  color: #555555;
}

.home {
  background: url(../images/home.png) no-repeat;
}

.home-window {
  background: url(../images/home-window.png) no-repeat;
}

.building {
  background: url(../images/building.png) no-repeat;
}

.article-home {
  display: flex;
  justify-content: center;
  padding-bottom: 75px;
}
.article-home .img-block {
  width: 220px;
  padding-left: 54.5px;
  padding-right: 54.5px;
}
.article-home .img-block .construction-content {
  text-align: center;
}
.article-home li:first-child {
  padding-left: 36px;
  padding-right: 54.5px;
}
.article-home li:last-child {
  padding-left: 54.5px;
  padding-right: 36px;
}

.button-article {
  padding: 9px 23px 8px 10px;
  background-color: #0f5c9b;
  font-size: 10px;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 43px);
  bottom: calc(50% - 20vh + 15px);
}
.button-article .fa-play {
  padding-right: 13px;
  font-size: 9px;
}

.d-flex {
  display: flex;
}
.d-flex .aside {
  width: 443px;
}
.d-flex .aside-left {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.d-flex .aside-right {
  padding-left: 67px;
}
.d-flex .aside-right > .aside-img {
  padding-top: 80px;
  padding-bottom: 40px;
}
.d-flex .aside-right > .aside-img > img:last-child {
  margin-top: 10px;
}
.d-flex .aside-right > span {
  font-size: 16px;
  color: #555555;
  line-height: 22.4px;
}
.d-flex .aside-right > a > img {
  padding-top: 35px;
  padding-bottom: 75px;
}

article {
  background-color: #eeeeee;
  height: auto;
}

section {
  background: url("../images/banner-footer.png") no-repeat center;
  height: 358px;
}

.footer {
  flex-direction: column;
  position: relative;
}
.footer > img {
  position: fixed;
  bottom: 250px;
  right: 50px;
  cursor: pointer;
}
.footer .text-footer {
  font-size: 24px;
  padding: 17px 67px;
  margin-top: 60px;
}
.footer .text-white {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  line-height: 22.4px;
  margin-top: 30px;
}
.footer > strong {
  font-size: 16px;
  color: #ffff4c;
  line-height: 22.4px;
  margin-bottom: 40px;
}
.footer > .header-right {
  display: flex;
  flex-direction: row;
  height: 50px;
}
.footer > .header-right .text-phone {
  color: #ffffff;
}

.cover-phone {
  height: 32px;
}

.padding-42 {
  padding-top: 42px;
  padding-bottom: 42px;
}
@media (max-width: 768px) {
  .padding-42 {
    padding-top: 21px;
    padding-bottom: 20px;
  }
}

.footer-menu {
  flex-wrap: wrap;
  flex-direction: row;
}
.footer-menu li a {
  font-size: 12px;
  color: #555555;
  padding-left: 22px;
  padding-right: 22px;
  border-left: 1px solid #555555;
  line-height: 23.8px;
}
@media (max-width: 768px) {
  .footer-menu li a {
    font-size: 10px;
    padding-left: 14px;
    padding-right: 14px;
  }
}
.footer-menu .border-right {
  border-right: 1px solid #555555;
}

footer {
  background-color: #cccccc;
}

.footer-copy {
  background-color: #ffffff;
  margin: 20px auto;
  text-align: center;
}
.footer-copy > span {
  font-size: 14px;
  color: #555555;
}

body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
}

*, p, ul, a, img {
  margin: 0;
  padding: 0;
}

.container {
  width: 950px;
  height: auto;
  margin: 0 auto;
}

ul li, ol li {
  list-style: none;
}
ul li a, ol li a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*# sourceMappingURL=main.css.map */
